<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itbank.navercafe.mybatis.cafemember.CafeMemberMapper">

	<resultMap type="com.itbank.navercafe.user.cafemember.dto.CafeMemberDTO" id="project_cafe_member">
		<id property="cafeId" column="cafe_id"/>
		<result property="userId" column="user_id"/>
		<result property="cafeUserNickname" column="cafe_user_nickname"/>
		<result property="cafeUserImage" column="cafe_user_image"/>
		<result property="cafeUserGrade" column="cafe_user_grade"/>
		<result property="cafeUserVisit" column="cafe_user_visit"/>
		<result property="cafeUserWrite" column="cafe_user_write"/>
		<result property="cafeUserReply" column="cafe_user_reply"/>
		<result property="cafeUserVisitCheck" column="cafe_user_visit_check"/>
		<result property="cafeUserRegdate" column="cafe_user_regdate"/>
	</resultMap>
	
	<resultMap type="com.itbank.navercafe.comon.file.dto.FileDTO" id="project_file">
		<id property="fileNum" column="file_num"/>
		<result property="fileDirectory" column="file_directory"/>
		<result property="fileOrgName" column="file_org_name"/>
		<result property="fileStoredName" column="file_stored_name"/>
		<result property="regdate" column="regdate"/>
		<result property="boardNum" column="board_num"/>
		<result property="boardReplyNum" column="board_reply_num"/>
		<result property="cafeTitleNum" column="cafe_title_num"/>
		<result property="memoReplyNum" column="memo_reply_num"/>
		<result property="profileNum" column="profile_num"/>
	</resultMap>
	
	<resultMap type="com.itbank.navercafe.user.cafemember.dto.TestFileDTO" id="project_file_test">
		<id property="fileNum" column="file_num"/>
		<result property="fileOrgName" column="file_org_name"/>
		<result property="regdate" column="regdate"/>
		<result property="boardNum" column="board_num"/>
		<result property="boardReplyNum" column="board_reply_num"/>
		<result property="cafeTitleNum" column="cafe_title_num"/>
		<result property="memoReplyNum" column="memo_reply_num"/>
		<result property="profileNum" column="profile_num"/>
	</resultMap>
	
	
	
	
	<select id="getCafeMemberList" resultMap="project_cafe_member">
		select * from project_cafe_member
	</select>
	
	<insert id="saveData">
		insert into project_cafe_member(cafe_id,user_id,cafe_user_nickname,cafe_user_image)
		values(#{cafeId},#{userId},#{cafeUserNickname},#{cafeUserImage})
	</insert>


	<insert id="saveFileDTO">
		insert into project_file_test (file_num,file_org_name)values(#{fileNum},#{fileOrgName})
	</insert> 
	
	<select id="getFileNameList" resultMap="project_file_test">
		select * from project_file_test
	</select>

	
	<select id="getCafeUserInfo" resultMap="project_cafe_member">
		select user_id,cafe_user_nickname,cafe_user_image from project_cafe_member
		where user_id=#{userId}
	</select>
	
	<select id="getSessionUserInfo" resultMap="project_cafe_member">
		select user_id,cafe_user_nickname from project_cafe_member where user_id=#{sessionId}
	</select>
	
	<select id="getUserViewList" resultMap="project_cafe_member">
		select * from project_cafe_member where user_id=#{userId}
	</select>
	
	<!--	댓글 작성시 +1  -->
	<update id="replyUp">
		update project_cafe_member set cafe_user_reply =cafe_user_reply+1 where user_id=#{userId}
	</update>
	
	<select id="getSequence" resultType="int">
		select file_num_seq.nextval fileNumSeq from dual
	</select>
	
	<insert id="insert">
		insert into project_cafe_member(cafe_id,user_id,cafe_user_nickname,cafe_user_image)
		values(#{cafeId},#{userId},#{cafeUserNickname},#{cafeUserImage})
	</insert>



	
	
</mapper>