@charset "UTF-8";
/* index 카페목록 테이블 */
table.cstmTbl1 {color: #141618 !important; border: 1px solid #eee;}
table.cstmTbl1 > thead {background: #2B2E31;color:#fff;}
table.cstmTbl1 th {border-bottom: none !important;}
table.cstmTbl1 td {border-top: 1px solid #eee !important;}
table.cstmTbl1 td:not(:first-child) {border-left: 1px solid #eee;}
table.cstmTbl1 td:hover {text-decoration:underline; cursor:pointer;}
table.cstmTbl1 th, table.cstmTbl1 td {padding: 10px !important;}
table.cstmTbl1 th, table.cstmTbl1 td > div {white-space: nowrap; overflow: hidden;text-overflow: ellipsis;}
table.cstmTbl1 th, table.cstmTbl1 td:nth-child(1) > div {width:234px;}
table.cstmTbl1 th, table.cstmTbl1 td:nth-child(2) > div {width:452px;}
.cafeListIcon {display:inline-block;margin-right:5px;}
.cafeListIcon img {width:20px;height:20px;border-radius:45%;}

/* 느낌표(!) 아이콘 정의 */
.fa-exclamation::before {content: "\0021";}

/* 로그인 -> 회원정보 영역 */
.logout_custom {background: url(../img/cstm_logout.png) no-repeat center/contain; display: inline-block;width: 12px;height: 12px; vertical-align: middle; margin-right: 3px;}
.login_user_area {border: 1px solid #ddd;padding:10px;border-radius:10px;font-size:13px;}
.login_user_area > div {display:inline-block;}
.login_user_area > div:not(:last-child) {margin-right:10px;}

/* 카페 타이틀 */
.setting-title img {max-height:340px;width:100%;}
.default-title {border: 1px solid #ddd; width: 100%; height: 180px; padding: 20px 30px;
 border-radius: 10px;}
.default-title > h1 {color: #000;}

/* main */
.cstmAside {padding: 0 !important; width: 20%;}
.cstmContent {padding: 0 0 60px 0 !important;width: 78%;}
.cstmAside .widget {margin:0 0 35px 0!important; padding:0 !important;}
.cstmAside .cafeInfo{font-size: 12px;}

/* 카페 메뉴 */
.mananger_info {white-space:nowrap;overflow:hidden;text-overflow: ellipsis;}

.ico_setting {
    background-position: -41px -112px;
    width: 10px;
    height: 10px;
}

.ico_setting, .ico_stat, .ico_vst, .ico_wrt, .ico, .ico_cmt {
    display: inline-block;
    background-image: url(../img/sp_icon_white_72ca546e.svg);
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}

.lab_thmb {
	display: inline-block;
    background-image: url(../img/sp_icon_06952b76.svg);
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}

.ico_stat {
    background-position: -119px -61px;
    width: 10px;
    height: 10px;
}

.lab_thmb {
	display:block;
    position: absolute;
	margin: 40px;
    font-size: 0;
    line-height: 0;
    background-position: -172px -226px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.ico_vst {
    background-position: -119px -4px;
    width: 10px;
    height: 12px;
}

.ico_wrt {
    background-position: -59px -112px;
    width: 10px;
    height: 10px;
}

.ico {
    background-position: -52px -66px;
    width: 16px;
    height: 14px;
}

.ico_cmt {
    background-position: -119px -43px;
    width: 10px;
    height: 10px;
}

.info-cafe:not(:last-child) {margin-right: 10px;}
.recent_posts > li {height: auto;margin: 0 !important; padding: 15px 10px 15px 10px ; display: block; width:auto;}
.recent_posts > li:not(:last-child) {border-bottom: 1px solid #ddd;}
.cafeSetting, .gradeInfo {font-size: 12px; margin-top: 5px;}
.gradeInfo img {border:none !important; float:none !important; margin:0 !important;}
.gradeText {border: 1px solid #ddd;font-size:10px;vertical-align:middle;padding:2px;margin-right:2px;}

/* main 카페 대문 */
.frontArea{padding: 0 10px;border: 1px solid #ddd;padding:20px;}
.default_front {color: #000;border-radius:10px;font-size:14px; background: url(../img/think-different.png) no-repeat right bottom/contain;}
.default_front > span.text-primary {font-size:16px; font-weight:bold;}

/* main bottom 영역 */
.mainBottom {margin: auto;padding: 0 10px;}
.mainBottom .component1 {display: inline-block;width:300px;vertical-align:top;}
.mainBottom .component1:not(:last-child){margin-right:20px;}
.mainBottom .component1 > .title {font-size:16px;}
.mainBottom .component1 > .title a {font-size:14px;float:right;}
.mainBottom .component1 > ul {margin-left:20px; font-size:14px;}
.mainBottom .component1 > ul > li > a {white-space: nowrap; word-break: break-word; text-overflow: ellipsis; overflow: hidden; display: block;}
.mainBottom .component2 {display: inline-block;width:200px;vertical-align:top;background:#ddd;border-radius:10px;padding: 10px;margin-top:20px;}
.mainBottom .component2:not(:last-child){margin-right:20px;}
.mainBottom .component2 > h4 {font-size:16px;}
.mainBottom .component2 > h4 a {font-size:14px;float:right;}
.mainBottom .component2 > ul {margin-left:20px; font-size:14px;}
.mainBottom .component2 > ul > li > a {white-space: nowrap; word-break: break-word; text-overflow: ellipsis; overflow: hidden; display: block;}

/* cafe_layout 공통 */
.cafe_layout_area .main_form {padding: 10px 20px;}
.cafe_layout_area input[type="checkout"], #createCafeForm input[type="radio"]{cursor:pointer;margin-right:5px;}
.cafe_layout_area .checkArea label {cursor:pointer;}
.cafe_layout_area .infoLine{padding: 0 20px;margin-bottom:20px;}
.cafe_layout_area .infoLine > input[type="text"], 
.cafe_layout_area .infoLine > input[type="password"],
.cafe_layout_area .infoLine > input[type="email"] {width:300px;margin:0;}
.cafe_layout_area .infoLine > input[type="tel"] {margin:0;}
.cafe_layout_area .infoLabel{width:200px;}
.cafe_layout_area .checkArea {padding:0 20px;}
.cafe_layout_area .checkLable-inline {width:100px;}
.cafe_layout_area .button{margin:0;}
.cafe_layout_area .infoUl {padding-top:10px;padding-left:20px;}
.cafe_layout_area #joinQuestionArea label {cursor:default;width:100px;}
.cafe_layout_area #joinQuestionArea input[type="text"] {width:700px;}
.cafe_layout_area button {vertical-align:top;}
.cafe_layout_area button.btn-danger {margin-left:5px;}
.cafe_layout_area #iconImg {width:112px;height:112px;border-radius:45%;}
.cafe_layout_area .btns {text-align:center;}
.cafe_layout_area .btns button:not(:last-child){margin-right: 5px;}
.cafe_layout_area button.danger{background-color: #d9534f;}
.form-control-inline[disabled], .form-control-inline[readonly], fieldset[disabled] .form-control-inline { background-color: #eee; opacity: 1;}
.cafe_layout_area .infoText {display:none;margin:5px 0 0 205px;width:100%;}

input[type=file] {
    display: inline-block;
}

button.button.danger {background-color: #d9534f;}
button.button.info {background-color: #5bc0de;}

/* 카페 소개  */
.infoCafeIcon {width:100px; height:100px;border-radius:45%;}
.tbl_cafe_info {
    width: 100%;
    margin-top: 30px;
    border-top: 1px solid #e5e5e5;
}
.tbl_cafe_info th {
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid #e5e5e5;
    line-height: 20px;
    background-color: #f9f9f9;
    text-align: left;
}
.tbl_cafe_info td {
    position: relative;
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid #e5e5e5;
    line-height: 20px;
}

/* 카페 회원 가입 */
.join_info{
	display: table;
	width: 100%;
	table-layout: fixed; padding: 20px 0;
	border-bottom: 1px solid #ebecef;
}
.join_info_head{
	display: table-cell; width: 108px; vertical-align: top;
}
.join_info_body{
	display: table-cell;
}
.input_text{
	width: 256px;
	height: 36px;
	border-radius: 6px;
	padding: 0 38px 0 12px;
	border: 0;
	font-size: 14px;
	color: #000000;
	background-color: #f5f6f8;
}
.btn_close{
	position: absolute;
	top: 10px; right: 10px;
	display: inline-block;
	width: 16px; height: 16px;
	background: none;
	background-image: url(https://ca-fe.pstatic.net/web-pc/static/img/sprite_icon_354827.svg#icon_search_delete-usage);
}
.qna_area{
	display: block; width: 100%; height: 60px;
	margin-top: 9px;
	padding: 9px 18px 11px 12px;
	box-sizing: border-box;
	border-radius: 6px;
	border: 0;
	font-size: 13px;
	line-height: 20px;
	color: #000000;
	background-color: #f5f6f8;
	resize: vertical;
}
.wqe{
	word-wrap : break-word;
	word-break : keep-all;
}
.signbutton{
	display: inline-block;
	border-radius: 6px;
	box-sizing: border-box;
	font-weight: 700;
	text-align: center;
	vertical-align: top;
	background: rgba(3,199,90,0.12);
	text-decoration: none;
	cursor: pointer;
	min-width: 46px;
	height: 36px; padding: 0 12px;
	font-size: 13px;
	line-height: 36px;
}

.form-control-inline {display: inline-block;  height: 34px; padding: 6px 12px;font-size: 14px; line-height: 1.42857143;  color: #555;background-color: #fff;background-image: none;   border: 1px solid #ccc;  border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%); box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; 
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;vertical-align:middle;
}
.boardBtn {vertical-align: middle; float: left;}
.formProfileImg {width:58px;height:58px;border-radius:100%;margin-right:10px;}
img.profileImg {border:none !important;border-radius:100%;width:58px;height:58px;}
img.profileImg-small {border:none !important;border-radius:100%;width:24px;height:24px;}

/* 메모 게시판 */
.memo-list-area {border: 1px solid #eee;padding:10px 20px;}
.post-meta-area {padding-bottom: 10px;}
.post-meta-area > div {display:inline-block; vertical-align:middle;}
.post-meta-area > div {margin-right: 5px;}
.post-meta-area .memo-date {float:right;}
.post-meta-area .memo-action a {color:#696E74;}
.post-meta-area .memo-action a:hover {text-decoration:underline;}
.post-meta-area .memo-date {color: #aaa;}
.memo-board{padding:10px 0;}
.memo-board-content {resize:none;}
.memo-list-area .memo-board:not(:last-child) {border-bottom: 1px solid #ccc;}
.board-post-desc .memo-content {padding: 20px 0 40px;}

/* 댓글 쪽 */
.reply-list-area li {list-style:none;}
.reply-list-area li:not(:last-child){padding-bottom: 25px;margin-bottom: 25px;border-bottom: 1px dotted #aaa;}
.reply-list-area .comment-content {margin-bottom:0;}
.reply-list-area .comment-content li > span {margin-right: 5px;}
.reply-list-area .comment-content .reply-action {float:right;}
.reply-list-area .comment-content .reply-action > a {color: #000;}
.reply-list-area .comment-content .reply-action > a:hover {text-decoration:underline;}
.reply-list-area .comment-content .reply-input-area .reply-input{width:100%;}
.reply-list-area .comment-content .reply-file-btns{float:right;}
.reply-list-area .reply-content {margin-top:10px;}
.reply-list-area .writer{color: #2f8cff; border: 1px solid; border-radius: 15px; padding: 2px 4px;font-size: 12px; margin-left: 2px; background: #fff;}
.reply-list-area .reReply {cursor:pointer;}
.reply-list-area .reReply:hover {text-decoration:underline;}
.replyA:hover {text-decoration: underline;}
.reply-file-attach{width:50%; padding-left: 10px;}
.reply-file-attach .imageAttach{width:30px; cursor:pointer;}
.reply-file-attach .replyImage {width:0;height:0;}
.reply-input-area {margin-top:20px;}
.reply-input-area .reply-input {border:1px solid #ccc; border-radius: 5px; display:inline-block; width:87.8%;padding: 10px;overflow:hidden;background: #fff;}
.reply-input-area .reply-input textarea{width:100%;resize:none;border:none;outline: none;}
.reply-input-area .previewReplyArea a {color:#000;}
.reply-input-area .previewReplyArea a:hover{text-decoration: underline;}

.reply-input-area button {width: 80px; vertical-align: top;height: 80px; border-radius: 5px;}

.board-post-desc{}
.board-post-desc img{
	width:100%;
}
/* ///////////////// 게시물쪽 //////////////// */
.blog-wrap-test{
  background: #ffffff;
  padding: 0;
  position: relative;
  display: block;
  z-index: 1;
}

.memo-search {text-align:center;margin-bottom:60px;}
.memo-search .button {vertical-align: middle;}
.select-div::after {background-image: url(../img/sp_icon_06952b76.svg);}
.indentSpan {color: #2f8cff;}
.select-div {vertical-align:top;cursor: pointer;}
.option-div {cursor: pointer; line-height:30px;padding: 0 12px;color: #555;}
.option-div:hover {background:#e2faea;color:#03c75a;border-radius: 4px;}
.option-div a {color: #555;}
.option-div a:hover {background:#e2faea; color:#03c75a;text-decoration:underline;}
.select-div::after {content: "";display: inline-block;margin-left: 10px; background-position: -229px -185px;width: 12px;height: 5px;}
.select-modal {position:absolute;background:#fff;text-align: left;display:block;z-index:100;display:none;color: #555;background-color: #fff; border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%); box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);}
.select-modal span.wave {vertical-align:middle;}
.select-modal label {margin:0 5px 0 0;vertical-align:middle;font-weight:normal;cursor:pointer;}
.select-modal input {width: 95px;font-size: 13px;height: auto;padding: 5px 10px; margin:0;}
.select-modal .button {vertical-align:middle; margin:0 0 0 5px}
#searchConditionOption{margin-left: -13px;margin-top: 5px;width: 122px;}
#searchDateOption{margin-top: 5px;margin-left: -13px;}