<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itbank.navercafe.mybatis.grade.GradeMapper">

	<resultMap type="com.itbank.navercafe.user.grade.dto.GradeDTO" id="project_upgrade_board">
		<id property="userId" column="user_id"/>
		<result property="gradeUp" column="grade_up"/>
		<result property="gradeNow" column="grade_now"/>
		<result property="visit" column="visit"/>
		<result property="boardCount" column="board_count"/>
		<result property="replyCount" column="reply_count"/>
		<result property="regdate" column="regdate"/>
		<result property="applyDate" column="apply_date"/>
	</resultMap>
	

	<select id="getUpGradeboardList" resultMap="project_upgrade_board">
		select * from project_upgrade_board
	</select>
	
	
	
	
	
	
</mapper>