<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itbank.navercafe.admin.cafemanager.mapper.AdminCafeManagerMapper">
	<update id="updateBasicInfo">
		<![CDATA[
			UPDATE project_cafe_info SET
				CAFE_NAME = #{cafeName},
			 	CAFE_EXPLANATION = #{cafeExplanation}, 
				CAFE_ICON_NUM = #{cafeIconNum}
			WHERE cafe_id = #{cafeId}
		]]>
	</update>
</mapper>

