<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itbank.navercafe.admin.cafemanager.mapper.AdminCafeManagerMapper">

	<update id="changeManager" parameterType="Map">
		update project_cafe_info set user_id = #{newManager} where cafe_id = #{cafe_id}
	</update>
	
	<select id="searchId" parameterType="Map" resultType="integer">
		select count(*) from project_cafe_member where user_id = #{userId} and cafe_id = #{cafeId}
	</select>
	
	<select id="searchNickname" parameterType="Map" resultType="integer">
		select count(*) from project_cafe_member where cafe_user_nickname = #{nickname} and cafe_id = #{cafeId}
	</select>	
	
</mapper>

