<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itbank.navercafe.admin.cafemanager.mapper.AdminCafeManagerMapper">

	<update id="changeManager" parameterType="Map">
		update project_cafe_info set user_id = #{newManager} where cafe_id = #{cafeId}
	</update>
	
	<select id="searchId" parameterType="Map" resultType="integer">
		select count(*) from project_cafe_member where user_id = #{userId} and cafe_id = #{cafeId}
	</select>
	
	<select id="searchNickname" parameterType="Map" resultType="integer">
		select count(*) from project_cafe_member where cafe_user_nickname = #{nickname} and cafe_id = #{cafeId}
	</select>	
	
	<update id="changeOldManagerGrade" parameterType="Map">
		update project_cafe_member set cafe_user_grade = 5 where cafe_id = #{cafeId} and user_id = #{oldManager}
	</update>
	
	<update id="changeNewManagerGrade" parameterType="Map">
		update project_cafe_member set cafe_user_grade = 999 where cafe_id = #{cafeId} and user_id = #{newManager}
	</update>
	
	<update id="updateBasicInfo">
		<![CDATA[
			UPDATE project_cafe_info SET
				CAFE_NAME = #{cafeName},
			 	CAFE_EXPLANATION = #{cafeExplanation}, 
				CAFE_ICON_NUM = #{cafeIconNum},
				CAFE_JOIN_APPLY = #{cafeJoinApply}
			WHERE cafe_id = #{cafeId}
		]]>
	</update>
</mapper>

