<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itbank.navercafe.user.cafe.mapper.CafeMapper">
	<resultMap type="com.itbank.navercafe.user.cafe.dto.CafeDTO" id="cafe">
		<id column="CAFE_ID" property="cafeId"/>
        <result column="CAFE_NAME" property="cafeName"/>
        <result column="USER_ID" property="userId"/>
        <result column="CAFE_EXPLANATION" property="cafeExplanation"/>
        <result column="CAFE_TITLE_NUM" property="cafeTitleNum"/>
        <result column="CAFE_FRONT" property="cafeFront"/>
        <result column="CAFE_SKIN" property="cafeSkin"/>
        <result column="CAFE_LAYOUT" property="cafeLayout"/>
        <result column="CAFE_JOIN_APPLY" property="cafeJoinApply"/>
        <result column="CAFE_JOIN_GENDER" property="cafeJoinGender"/>
        <result column="CAFE_JOIN_AGE" property="cafeJoinAge"/>
        <result column="CAFE_ICON_NUM" property="cafeIconNum"/>
	</resultMap>
	
	<insert id="InsertCafe">
		<![CDATA[
			INSERT INTO PROJECT_CAFE_INFO
			(CAFE_ID, CAFE_NAME, USER_ID, CAFE_EXPLANATION, 
			CAFE_TITLE_NUM, CAFE_FRONT, CAFE_SKIN, CAFE_LAYOUT, 
			CAFE_JOIN_APPLY, CAFE_JOIN_GENDER, CAFE_JOIN_AGE, CAFE_ICON_NUM)
			VALUES
			(#{cafeId}, #{cafeName}, #{userId}, #{cafeExplanation},
			 #{cafeTitleNum}, #{cafeFront}, #{cafeSkin}, #{cafeLayout},
			 #{cafeJoinApply}, #{cafeJoinGender}, #{cafeJoinAge}, #{cafeIconNum})
		]]>
	</insert>
	
	<select id="checkCafeId" resultType="Integer">
		<![CDATA[
			SELECT COUNT(*) ID_COUNT FROM PROJECT_CAFE_INFO WHERE CAFE_ID = #{cafeId}
		]]>
	</select>
	
	<select id="getIconSeq" resultType="Integer">
		<![CDATA[
			SELECT cafe_icon_num_seq.nextval seq from dual
		]]>
	</select>
	
	<select id="getTitleSeq" resultType="Integer">
		<![CDATA[
			SELECT cafe_title_num_seq.nextval seq from dual
		]]>
	</select>
		
	<select id="selectCafeList" resultMap="cafe">
		<![CDATA[
			SELECT * FROM
				(SELECT ROWNUM RN, CAFE.* FROM
					(SELECT * FROM PROJECT_CAFE_INFO WHERE CAFE_NAME LIKE '%' || #{cafeName} || '%' ORDER BY CAFE_ID DESC) CAFE
				)
			WHERE RN BETWEEN #{startRow} AND #{endRow}
		]]>
	</select>
	
	<select id="selectCafeListTotalCount" resultType="Integer">
		<![CDATA[
			SELECT COUNT(*) TOTAL_COUNT 
			FROM
			(SELECT * FROM PROJECT_CAFE_INFO WHERE CAFE_NAME LIKE '%' || #{cafeName} || '%') CAFE
		]]>
	</select>
	
	<select id="selectCafe" resultMap="cafe">
		<![CDATA[
			SELECT * FROM PROJECT_CAFE_INFO WHERE CAFE_ID = #{cafeId}
		]]>
	</select>

</mapper>