<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itbank.navercafe.user.memo.mapper.MemoMapper">

	<resultMap type="com.itbank.navercafe.user.memo.dto.MemoDTO" id="project_memo_board">
		<id property="memoNum" column="memo_num"/>
		<result property="userId" column="user_id"/>
		<result property="memoContent" column="memo_content"/>
		<result property="memoSaveDate" column="memo_saveDate"/>
		<result property="memoStepOnly" column="memo_step_only"/>
		<result property="boardMenuNum" column="board_menu_num"/> 
	</resultMap>
	
	<resultMap type="com.itbank.navercafe.user.memo.dto.MemoReplyDTO" id="project_memo_reply">
		<id property="memoReplyNum" column="memo_reply_num"/>
		<result property="userId" column="user_id"/>
		<result property="memoReplyContent" column="memo_reply_content"/>
		<result property="memoReplySavedate" column="memo_reply_saveDate"/>
		<result property="memoReplyGroup" column="memo_reply_group"/>
	</resultMap>
	
	
	
	
	<!-- 메모리스트  -->
	<select id="getMemoList" resultType="HashMap">
		select M.memo_num,M.user_id,M.memo_content,M.memo_saveDate,
		n.cafe_user_image_num,n.cafe_user_nickname from project_memo_board M
		inner join project_cafe_member N on M.user_id=N.user_id order by memo_num desc
	</select>
	
	<!-- 메모글 작성 -->
	<insert id="memoSave">
		insert into project_memo_board (memo_num,user_id,memo_content,memo_step_only,board_menu_num) 
		values(memo_num_seq.nextval,#{userId},#{memoContent},#{memoStepOnly},board_menu_num_seq.nextval)
	</insert>

	<!-- 메모 댓글 리스트 -->
	<select id="getReplyList" resultType="HashMap">
		select R.memo_reply_num,R.memo_reply_content,R.memo_reply_saveDate,R.user_id,
		R.memo_reply_group,C.cafe_user_nickname,C.cafe_user_image_num
		from project_memo_reply R inner join project_cafe_member C on R.user_id=C.user_id
	</select>
	
	<!-- 메모 댓글 작성 -->
	<insert id="saveMemoReply">
		insert into project_memo_reply(memo_reply_num,memo_reply_content,user_id,memo_reply_group) 
		values(#{memoReplyNum},#{memoReplyContent},#{userId},#{memoReplyGroup})
	</insert>
	
	<!-- 메모 seq -->
	<select id="getMemoReplyNumSeq" resultType="int">
			select memo_reply_num_seq.nextval memoReplyNum from dual
	</select>

	<!-- 메모 댓글 갯수 -->
	<select id="getReplyCount" resultType="int">
		select count(*) from project_memo_board M inner join project_memo_reply L
		on M.memo_num = L.memo_reply_group where memo_num=#{memoNum}
	</select>
	


	
</mapper>