<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.navercafe.mybatis.board.BoardMapper">

	<resultMap type="com.itbank.navercafe.user.board.dto.BoardDTO" id="project_board">
		<id property="boardNum" column="board_num"/>
		<result property="boardTitle" column="board_title"/>
		<result property="boardContent" column="board_content"/>
		<result property="boardSaveDate" column="board_saveDate"/>
		<result property="boardLikes" column="board_likes"/>
		<result property="boardNotice" column="board_notice"/>
		<result property="boardReplyAllow" column="board_reply_allow"/>
		<result property="boardPrefix" column="board_prefix"/>
		<result property="userId" column="user_id"/>
		<result property="boardMenuNum" column="board_menu_num"/>
		<result property="hit" column="hit"/>
	</resultMap>
	
	<resultMap type="com.itbank.navercafe.user.board.dto.LikesDTO" id="project_likes">
		<id property="boardNum" column="board_num"/>
		<id property="userId" column="user_id"/>
	</resultMap>
	
	<select id="getBoardList" resultMap="project_board">
		select * from project_board
	</select>
	
	
	
	<!-- <select id="getUserBoardAll" resultType="HashMap">
		select B.board_num,B.board_title,B.board_content,B.board_saveDate,
		B.board_likes,B.board_prefix,B.user_id,B.hit,C.cafe_user_nickname,C.cafe_user_image
		from project_board B inner join project_cafe_member C on B.user_id = C.user_id 
		where board_num=#{boardNum}
	</select> -->
	
	<select id="getUserBoard" resultMap="project_board">
		select * from project_board where board_num=#{boardNum}
	</select>
	
	<!-- <select id="getPrefixList" resultType="HashMap">
		select B.board_title,C.cafe_user_nickname,B.board_saveDate,B.board_num,B.user_id 
		from project_board B
		inner join project_cafe_member C 
		on B.user_id = C.user_id where board_prefix=#{boardPrefix}
	</select> -->
	
	<select id="getPrefixList" resultType="HashMap">
		select J.* from(select rownum rn, I.* from
		(select B.board_title,B.board_saveDate,B.board_num,B.user_id,C.cafe_user_nickname 
		from project_board B inner join project_cafe_member C 
		on B.user_id = C.user_id where board_prefix=#{boardPrefix} 
		order by board_num desc)I)J 
		where rn between #{start} and #{end}
	</select>

	<select id="selectBoardCount" resultType="Integer">
		select count(*) from project_board where board_prefix =#{getBoardPrefix}
	</select>
	
	<update id="hitUp">
		update project_board set hit = hit+1 where board_num=#{boardNum}
	</update>
	
	
	
	
	<select id="getLikesList" resultMap="project_likes">
		select * from project_likes where board_num=#{boardNum} and user_id=#{userId}
	</select>

	<update id="likeUp">
		update project_board set board_likes = board_likes+1 where board_num=#{boardNum}
	</update>
	<insert id="insertLike">
		insert into project_likes values(#{boardNum},#{userId})
	</insert>
	
	<update id="likeDown">
		update project_board set board_likes = board_likes-1 where board_num=#{boardNum}
	</update>
	<delete id="deleteLike">
		delete from project_likes where board_num=#{boardNum} AND user_id=#{userId}
	</delete>
	
	<select id="topList" resultType="HashMap">
		select B.board_num,B.board_title,B.board_likes,B.user_id,
		C.cafe_user_nickname,C.cafe_user_image
		from project_board B inner join project_cafe_member C on B.user_id = C.user_id
		order by B.board_likes desc
	</select>
	
	
	
</mapper>

